package page

import (
	"akira/internal/view/layout"
	"akira/internal/view/config/i18n/t"
)

templ Index() {
	@layout.Page("Home") {
		<h1 class="text-4xl font-bold">@t.T("index.hello_world")</h1>
	}
}
