package layout

import "akira/internal/view/component"

templ Page(title string) {
	@Layout(title) {
		@component.Navbar()
		<div class="container max-w-6xl mx-auto mb-12">
			{ children... }
		</div>
		@component.Footer()
	}
}
