package t

import "github.com/invopop/ctxi18n/i18n"

templ T(key string, args ...any) {
	{ i18n.T(ctx, key, args...) }
}

templ N(key string, n int, args ...any) {
	{ i18n.N(ctx, key, n, args...) }
}
